<!-- start of todo list D&D  -->
<div>
<div>
  <div class="task-list-workspace" >
    <div ng-init="todoVM.fetchData()" class="simpleDemo" style="">

      <li style="list-style: none; padding-bottom: 2%;">
        <input class="new-todo-input" type="text" ng-model="newTodo" ng-if="data.list_type === 'todo' ">
        <div ng-if="data.list_type === 'shopping'">
          <input ng-model="shoppingProductName" placeholder="Item">
          <input ng-model="shoppingProductPrice" placeholder="Price">
          <input ng-model="shoppingProductQuantity" placeholder="Quantity">
        </div>
        <button type="button" ng-click="addNewTodo()" class="btn btn-default" > + </button>
        <button type="button" ng-click="clearComplete()"
                ng-if="showClearCompleted"
                class="btn btn-primary"> Clear Completed </button>
      </li>
      <ul dnd-list="models.toDoList">
        <li ng-repeat="item in models.toDoList "
          style="height: 50px; font-size: 16px; color: black"
          class="todo"
          ng-class="{todoComplete: item.completed}"
          dnd-draggable="item"
          dnd-moved="models.toDoList.splice($index, 1)"
          dnd-dragend="update(models.toDoList)"
          dnd-effect-allowed="move"
          dnd-selected="todoVM.models.selected = item"
          ng-class="{'selected': todoVM.models.selected === item}">
          <table>
            <tr>
              <td>
                <md-checkbox ng-change="update(item, $index)" ng-model="item.task_completed"></md-checkbox>
              </td>
              <td>
                <span ng-if="!item.task_completed" >
                  {{ item.name }}
                </span>
                <span ng-if="item.task_completed" class="todoComplete">
                  {{ item.name }}
                </span>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end of D&D -->

<!-- start of completedList  -->

<button type="button"
        ng-if="list.clearedTasks.length && !showHideButton"
        ng-click="showCompletedList()"
        style="margin-bottom: 2%"
        class="btn btn-default" > Show Cleared </button>

<button type="button"
        ng-if="showHideButton"
        ng-click="hideCompletedList()"
        style="margin-bottom: 2%"
        class="btn btn-default" > Hide Cleared </button>
<div>
  <div class="task-list-workspace" >
    <div  class="simpleDemo" style="">

      <ul dnd-list="list.completedList">
        <li ng-repeat="item in models.completedList "
          style="height: 50px; font-size: 16px;"
          class="todo"
          ng-class="{todoComplete: item.completed}"
          dnd-draggable="item"
          dnd-moved="models.completedList.splice($index, 1)"
          dnd-dragend="update(models.toDoList)"
          dnd-effect-allowed="move"
          dnd-selected="todoVM.models.selected = item"
          ng-class="{'selected': todoVM.models.selected === item}">
          <table>
            <tr>
              <td>
                <md-checkbox ng-change="update(item, $index)" ng-model="item.task_completed"></md-checkbox>
              </td>
              <td>
                <span ng-if="!item.task_completed" >
                  {{ item.name }}
                </span>
                <span ng-if="item.task_completed" class="todoComplete">
                  {{ item.name }}
                </span>
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end of completedList -->
</div>
