<div class="panel-group">
  <div class="panel panel-default" ng-repeat="list in listss" >

    <div class="panel-heading" style="margin-left: 5%; display: flex; justify-content: space-between ">
      <div class="panel-title-custom">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-list" aria-hidden="true" ></span>

          <a data-toggle="collapse"
             href="#collapseTask{{listType}}{{$index}}" ng-if="listType == list.listType" >
            <span > {{ list.name }}  </span>
          </a>

      </div>

    </h4>


    <md-menu>
      <md-button aria-label="additional options" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" style="margin-top: -7px;">
        <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
      </md-button>
      <md-menu-content width="2">
       <md-menu-item>
         <md-button ng-click="edit(list, $event)" >
           <i class="fa fa-pencil" aria-hidden="true"></i>
           Edit
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button ng-click="deleteList(list)">
           <i class="fa fa-trash" aria-hidden="true"></i>
           Delete
         </md-button>
      </md-menu-item>
     </md-menu-content>
    </md-menu>


    <!-- <md-button class="md-raised md-warn" id="list-delete-button"
               style="min-width: 1px; margin-top: -5px"
               ng-click="deleteList(list)">X</md-button> -->
    </div>
    <div id="collapseTask{{ listType }}{{$index}}" class="panel-collapse collapse"
    style="margin-left: 5%;background-color: rgb(107, 110, 122);
            border-radius: 2px; color: black; margin-top: -8px">
      <ul class="list-group" >
        <li>
        <table>
          <tr>
            <td ng-if="listType ==='todo'">
              <input type="text" style="color: black;" ng-model="newMasterInDirective.name" placeholder="add new recurring task">
            </td>
            <td ng-if="listType === 'shopping' ">
              <input type="text" style="color: black; " ng-model="newMasterInDirective.name" placeholder="add new recurring">
                <input type="text" style="color: black; " ng-model="newMasterInDirective.price" placeholder="$">
                <input type="text" style="color: black; " ng-model="newMasterInDirective.quantity" placeholder="Quantity">
            </td>

            <td ng-if="listType !== 'appointment'">
              <md-button class="md-raised" style="min-width: 40px;" ng-click="addNewMasterTask(list)" > + </md-button>
            </td>

          </tr>
        </table>

        </li>
        <li ng-repeat="task in list.master_tasks " class="list-group-item"
        style="background-color: rgb(107, 110, 122); color: white; box-shadow: 1px 1px grey">
          {{ task.name }}
        </li>
      </ul>

      <li class="list-group"
          style="color: white; list-style: none"
          ng-repreat="list in listss"
          ng-if="listType === 'appointment' ">
        {{ list.name }} - {{ list.date }}
      </li>

    </div>
  </div>
</div>
