<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 75%; margin-left: 15%;">
      <div class="modal-header" style="padding: 10px">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h3 class="modal-title">{{ data.list_name }} </h3>
        <h5> {{ niceDate }} </h5>
      </div>
      <div class="modal-body" style="background-color: #F2F3F4">

        <dd-checklist data="data" date="date" list-type="listType" element=" 'cal-entry-modal' "
                      all-tasks="allTasks" parse-all-tasks="parseAllTasks"></dd-checklist>
          <md-button class="md-raised md-warn" style='min-width:1%;' ng-click="deleteList()">Delete</md-button>
      </div>
      <!-- <div class="modal-footer">

      </div> -->
    </div>
  </div>
</div>
