<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 75%; margin-left: 15%;">
      <div class="modal-header" style="padding: 10px">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">{{ data.list_name }} </h3>
        <h5> {{ niceDate }} </h5>
      </div>
      <div class="modal-body" style="background-color: #F2F3F4">


        <!-- <div class="btn-group" ng-if="!list_type">
          <button class="btn" ng-click="pickListType('todo')" style="box-shadow: 1px 1px 1px grey; background-color: white">To Do List</button>
          <button class="btn" ng-click="pickListType('shopping')" style="box-shadow: 1px 1px 1px grey; background-color: white">Shopping List</button>
        </div> -->

        <dd-checklist data="data" date="date" list-type="listType" all-tasks="allTasks"></dd-checklist>
        <!-- <regular-list ng-if="shoppingType"></regular-list> -->


      </div>
      <!-- <div class="modal-footer">

      </div> -->
    </div>
  </div>
</div>
