<div style="outline: 1px solid green; display: flex">
  <div class="task-list-workspace" style="outline: 1px solid red; height: 100%; width: 80%">
    <div class="new-task-list" style="outline: 1px solid black;">
      <input type=text ng-model='todoVM.newTodoList'>
      <button ng-click="todoVM.addNewListCategory()">Create new Task List</button>
    </div>
    <div ng-init="todoVM.fetchData()" class="simpleDemo" style="width: 33%; outline: 1px solid pink;">
      <h1> {{ todoVM.taskLists[0] }} Todo INDEX </h1>
      <li style="list-style: none">
        <input type="text" ng-model="todoVM.newTodo.name">
        <button ng-click="todoVM.addNewTodo()"> + </button>
        <button ng-click="todoVM.clearComplete()"> Clear Completed </button>
      </li>
      <ul dnd-list="todoVM.models.toDoList">
        <li ng-repeat="item in todoVM.models.toDoList "
          class="todo"
          ng-class="{todoComplete: item.completed}"
          dnd-draggable="item"
          dnd-moved="todoVM.models.toDoList.splice($index, 1)"
          dnd-dragend="todoVM.update(todoVM.models.toDoList)"
          dnd-effect-allowed="move"
          dnd-selected="todoVM.models.selected = item"
          ng-class="{'selected': todoVM.models.selected === item}">
          <table>
            <tr>
              <td>
                <input type="checkbox" ng-change="todoVM.update(item)" ng-model="item.completed">
              </td>
              <td>
                {{ item.label }}
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
  <div class="master-task-list" style="outline: 1px solid blue; width: 20%;">
    <h1>All Tasks</h1>
  </div>
</div>

{{ todoVM.models.completedList }}


<!-- Test code for when I don't want to modify above -->
<!-- <div>
  <ul dnd-list="todoVM.models.toDoList">
    <li ng-repeat="item in todoVM.models.toDoList | orderBy: 'rank' "
      class="todo"
      ng-class="{todoComplete: item.completed}"
      dnd-draggable="item"
      dnd-moved="todoVM.models.toDoList.splice($index, 1)"
      dnd-dragend="todoVM.update(todoVM.models.toDoList)"
      dnd-effect-allowed="move"
      dnd-selected="todoVM.models.selected = item"
      ng-class="{'selected': todoVM.models.selected === item}">
      <table>
        <tr>
          <td>
            <input type="checkbox" ng-change="todoVM.update(item)" ng-model="item.completed">
          </td>
          <td>
            {{ item.label }} - {{ item.rank }} - {{ item.completed }} - {{ $index }}
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div> -->
