<h1> List SHOW </h1>
<a href="/"> Home </a>
<div>
  <div class="task-list-workspace" >
    <div ng-init="todoVM.fetchData()" class="simpleDemo" style="width: 33%;">
      <h1> {{ todoVM.taskLists[0] }} </h1>
      <li style="list-style: none">
        <input type="text" ng-model="todoVM.newTodo.task_name">
        <button ng-click="todoVM.addNewTodo()"> + </button>
        <button ng-click="todoVM.clearComplete()"> Clear Completed </button>
      </li>
      <ul dnd-list="todoVM.models.toDoList">
        <li ng-repeat="item in todoVM.models.toDoList "
          class="todo"
          ng-class="{todoComplete: item.completed}"
          dnd-draggable="item"
          dnd-moved="todoVM.models.toDoList.splice($index, 1)"
          dnd-dragend="todoVM.update(todoVM.models.toDoList)"
          dnd-effect-allowed="move"
          dnd-selected="todoVM.models.selected = item"
          ng-class="{'selected': todoVM.models.selected === item}">
          <table>
            <tr>
              <td>
                <input type="checkbox" ng-change="todoVM.update(item)" ng-model="item.completed">
              </td>
              <td>
                {{ item.task_name }} - {{ item.task_rank }}
              </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>
