<h1> This is the events-index.hbs page </h1>

<!-- {{#each events as |event|}}
  <p>{{event.name}} on {{event.start_time}}</p>
{{/each}} -->

{{Dates}}

<div id="calendar-container">
  <div id="calendar-header">
    <span id="calendar-month-year"></span>
  </div>
  <div id="calendar-dates">
  </div>
</div>
