
{{#each events as |event|}}
  <p>{{event.name}} on {{event.start_time}} date </p>
{{/each}}


<div id="calendar-container">
  <div id="calendar-header">
    <span id="calendar-month-year"></span>
  </div>
  <div id="calendar-dates">
  </div>
</div>
