<!DOCTYPE html>
<html>
<head>
  <title> Docket </title>
  <link rel="stylesheet" href="/assets/css/style.css" >
</head>
<body>
  <h1> Docket </h1>
  {{{body}}}
</body>
  <script src="/assets/js/app.js"></script>
</html>
