@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/** {
  outline: 1px solid black;
}*/

td {
  border: 2px solid white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F3F4;
}

.calendar table {
  margin: 0 auto;
}

.calendar td {
  border: 2px solid white;
  width: 133px;
  height: 93px;
  align-content: center;
  border-radius: 4px;
  padding-top: 2px;
}

.finances {
  margin: 0 auto;
}

.new-finance {
  background-color: #DCDCDC;
  height: 1000px;
}

.finances-td {
  border: 2px solid #0583f6;
  padding: 5px;
}

/*.a22 {
  outline: 1px solid black;
  width: 100px;
  height: 20px;
}*/


.events-panel {
  background-color: #34495E;
  color: white;
  position: fixed;
  float: left;
  /*width: 22%;*/
  height: 100%;
  text-align: left;
  padding: 20px;
}

.calendar {
  top: 0;
  width: 86%;
  float: right;
  background-color: #F2F3F4;
  color: #34495E;
  margin-bottom: 0;
  margin-right: 5px;
}

.protocol-table {
  margin: 0 auto;
}


ul {
  list-style: none;
  font-size: 14px;
  padding: 0;
}

li {
  text-align: center;
}

.new-event-form ul {
  /*padding: 20px;*/
}

.new-event-form {
  border: 2px solid white;
  background-color: rgba(52, 73, 94, 0.76);
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 2px 5px 0 rgba(250, 250, 250, 0.55);
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin: 1% 0% 1% 25%;
}

input[type=text] {
  width: 150px;
  height: 30px;
  border-radius: 4px;
}

input[type=date] {
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

button {
  /*padding: 10px;*/
  margin: 15px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #ecf0f1;
  color: #34495e;
  font-weight: bold;
}

button:hover {
  box-shadow: 2px 2px 2px white;
}

input {
  margin: 3px;
}

h2 {
  text-align: center;
}

#calendar-dates li {
  outline: 1px solid white;
  background-color: #4FF427;
  color: white;
  padding: 2px;
}

.today {
  outline: 2px solid #208CF9;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.md-icon-button+.md-datepicker-input-container {
  background-color: white;
  border-radius: 4px;
}

.md-button.md-icon-button md-icon, button.md-button.md-fab md-icon {
  color: white;
}

.md-icon-button+.md-datepicker-input-container {
  margin-left: -12px;
  /*padding-right: 25px;*/
  margin-right: 66px;
  width: 150px;
}

.list-of-events {
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(250, 250, 250, 0.55);
}

.list-of-events td{
  border: 0;
  /*padding: .5%;*/
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-of-events tr {
  display: flex;
  justify-content:
  space-between;
  align-items: center;
  width: 109.5%;
}

.list-of-events tr:nth-child(even) {
    background-color: rgba(250, 250, 250, 0.52);
}

.show-page {
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 30px;
  width: 80%;
  background-color: #34495E;
  margin-left: 10%;
  height: 40vh;
}

.show-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
