@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F3F4;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/** {
  outline: 1px solid black;
}*/

/*td {
  border: 2px solid white;
}*/

.panel-title-custom a:hover {
  color:white;
  text-decoration: none;
}

.panel-title-custom a:focus{
  color:white;
  text-decoration: none;
}

.calendar table {
  /*margin: 0 auto;*/
  margin-top: 1%;
}

.month {
  border: 2px solid white;
  width: 133px;
  height: 18%;
  align-content: center;
  border-radius: 4px;
  padding-top: 2px;
}

.week {
  border: 2px solid white;
  width: 128px;
  height: 550px;
  align-content: center;
  border-radius: 4px;
  padding-top: 2px;
}

#time {
  border: 1px solid white;
  width: 125px;
  height: 30px;
  vertical-align: middle;
  background-color: #F2F3F4;
}

#time-with-entry {
  border: none;
  width: 125px;
  height: 30px;
  vertical-align: middle;
  color: white;
}

#bigTd {
  height: 100%;
  outline: 2px solid white;
}

.timeTd {
  background-color: #4FF427;
  width: 100%;
  height: 100%;
  margin: 0px;
  /*border-radius: 4px;*/
}

.startTime {
  background-color: #4FF427;
  width: 100%;
  height: 100%;
  margin: 0px;
  /*border-radius: 4px;*/
  border-bottom: none;
  color: white;
}

.startTime:hover {
  cursor: pointer;
}

.endTime {
  background-color: #4FF427;
  width: 100%;
  height: 100%;
  margin: 0px;
  /*border-radius: 4px;*/
  border-top: none;
}

.middleTime {
  background-color: #4FF427;
  width: 100%;
  height: 100%;
  margin: 0px;
  /*border-radius: 4px;*/
  border-top: none;
  border-bottom: none;
}

div#time.startTimeTd {
  border: none
}

div#time.endTimeTd {
  border: none
}

.finances {
  margin: 0 auto;
}

.row-headings th{
  text-align: center;
  height: 30px;
}

.new-finance {
  background-color: #DCDCDC;
  height: 1000px;
}

.finances-td {
  border: 2px solid #0583f6;
  padding: 5px;
}

/*.a22 {
  outline: 1px solid black;
  width: 100px;
  height: 20px;
}*/

.header {
  height: 55px;
  position: fixed;
  width: 100%;
  /*background-color: white;*/
  z-index: 1000;
  outline: 1px solid #4264fb;
  display: flex;
  justify-content: space-between;
  background-color: #4264fb;
  color: rgba(66, 100, 251, 0.85)
}

.left-header {
  /*color: #4264fb;*/
  color: white;
  margin-top: -10px;
  margin-left: 10px;
}

.right-header {
  margin-right: 15px;
  margin-top: -25px;
}

.list-header {
  background-color: #4264fb;
  color: white;
  height: 65px;
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.list-header a:hover {
  text-decoration: none;
}

.list-header.left-header {
  margin-top: -15px;
}

.events-panel {
  background-color: rgb(48, 49, 56);
  margin-top: 55px;
  color: white;
  position: fixed;
  float: left;
  width: 20%;
  height: 100%;
  text-align: left;
  padding: 20px 10px 20px 0px;
  box-shadow: 2.5px 0px 2.5px #888888;
  overflow-x: scroll
}

.calendar {
  margin-top: 55px;
  top: 0;
  width: 89%;
  float: right;
  background-color: #F2F3F4;
  color: #34495E;
  margin-bottom: 0;
  margin-right: 5px;
  min-height: 580px;
  height: 705px;
}

.protocol-table {
  margin: 0 auto;
}


ul {
  list-style: none;
  font-size: 14px;
  padding: 0;
}

li {
  text-align: center;
}

.new-event-form ul {
  /*padding: 20px;*/
}

.new-event-form {
  border: 2px solid white;
  background-color: rgba(52, 73, 94, 0.76);
  border-radius: 4px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  box-shadow: 0 2px 5px 0 rgba(250, 250, 250, 0.55);
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 55%;
  /*margin: 1% 0% 1% 0%;*/
  padding: 1%;
  background-color: rgba(66, 100, 251, 0.85);
}


input[type=date] {
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

button {
  /*padding: 10px;*/
  /*margin: 15px;*/
  font-size: 12px;
  border-radius: 10px;
  background-color: #ecf0f1;
  color: #34495e;
  font-weight: bold;
}

button:hover {
  box-shadow: 2px 2px 2px white;
}

input {
  /*margin: 3px;*/
}

h2 {
  text-align: center;
}

#calendar-dates li {
  background-color: #4FF427;
  color: white;
  padding: 2px;
  border-radius: 3px;
  cursor:pointer;
  outline: 1px solid white;
}

.today {
  outline: 2px solid #1000FF;
}

#calendar-dates li a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.md-icon-button+.md-datepicker-input-container {
  background-color: white;
  border-radius: 4px;
}

.md-button.md-icon-button md-icon, button.md-button.md-fab md-icon {
  color: white;
}

.md-icon-button+.md-datepicker-input-container {
  margin-left: -12px;
  /*padding-right: 25px;*/
  margin-right: 66px;
  width: 150px;
}

.list-of-events {
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(250, 250, 250, 0.55);
}

.list-of-events td{
  border: 0;
  /*padding: .5%;*/
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-of-events tr {
  display: flex;
  justify-content:
  space-between;
  align-items: center;
  width: 109.5%;
}

.list-of-events tr:nth-child(even) {
    background-color: rgba(250, 250, 250, 0.52);
}

.show-page {
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 30px;
  width: 80%;
  background-color: #34495E;
  margin-left: 10%;
  height: 40vh;
}

.show-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}*/

.todo {
  height: 30px;
  outline: 1px solid white;
  padding-top: 2%;
}

.todo input[type="checkbox"] {
  margin-right: 15px;
  height: 22.5px;
  width: 20px;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
 .todoComplete {
   text-decoration: line-through;
   color: grey;
   font-style: italic;
 }

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.panel-group .panel {
  background-color: rgb(48, 49, 56);
  border: none;
}

.panel-group .panel .panel-heading {
  background-color: rgb(69, 71, 79);
  color: white;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px grey;
  border-radius: 2px;
  height: 45px;
}

.panel-default>.panel-heading{
  background-color: rgb(69, 71, 79);
}

.panel-group .panel .panel-default {
  border-color: none
}

.custom-panel {
  background-color: rgb(48, 49, 56);
}

.panel-heading .personal-panel {
  background-color: rgb(69, 71, 79);
  color: white;
  margin-bottom: 5px;
}

.create-new-panel {
  background-color: rgb(78, 80, 89);
  margin-top: -7.5px;
  padding: 10px;
  border-radius: 2px;
}

.panel-title-custom {
  margin-top: 2px;
  /*padding-left: 25%;*/
}

.panel-title-custom a {
  color: white;
}

.modal {
display: block;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: #4FF427;
}

.today .time {
  outline: none
}

input[type=text].new-todo-input {
  height: 40px;
  width: 200px;
  color: black;
  border-radius: 4px;
  width: 82%;
}

input[type=text] {
  color: black;
  width: 150px;
  height: 30px;
  border-radius: 4px;
}

.md-select-menu-container md-active md-clickable {
  z-index: 5000;
}

/* the below is to keep the start/end time select boxes in front of the modal */
/*#select_container_66 {
  z-index: 5000;
}

#select_container_68 {
  z-index: 5000;
}

#select_container_75 {
  z-index: 5000;
}*/

.md-select-menu-container.md-active {
  z-index: 5000;
}

.md-datepicker-calendar-pane {
  z-index: 1200;
}

.md-datepicker-calendar-pane md-whiteframe-z1 md-datepicker-pos-adjusted md-pane-open {
  z-index: 1200
}

.md-picker {
  z-index: 5000
}

.shopping-list-head {
  width: 15%;
  text-align: center
}

.shopping-list-inputs {
  height: 40px;
  border-radius: 4%;
  margin: 1%;
}
