@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/** {
  outline: 1px solid black;
}*/

td {
  border: 2px solid white;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #81CFE0;
}


.calendar table {
  margin: 0 auto;
}

.calendar td {
  border: 2px solid white;
  width: 133px;
  height: 93px;
  align-content: center;
  border-radius: 4px;
}

/*.a22 {
  outline: 1px solid black;
  width: 100px;
  height: 20px;
}*/


.events-panel {
  background-color: #86E2D5;
  color: white;
  position: fixed;
  float: left;
  width: 22%;
  height: 100%;
  text-align: left;
  padding: 20px;
}

.calendar {
  top: 0;
  width: 86%;
  float: right;
  background-color: #81CFE0;
  color: white;
  margin-bottom: 0;
}

.protocol-table {
  margin: 0 auto; 
}


ul {
  list-style: none;
  font-size: 14px;
  padding: 0;
}

li {
  text-align: center;
}

.new-event-form ul {
  /*padding: 20px;*/
}

.calendar-navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

input[type=text] {
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

input[type=date] {
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

button {
  /*padding: 10px;*/
  margin: 15px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #ecf0f1;
  color: #34495e;
  font-weight: bold;
}

button:hover {
  box-shadow: 2px 2px 2px white;
}

input {
  margin: 3px;
}

h2 {
  text-align: center;
}

#calendar-dates li {
  outline: 1px solid #81CFE0;
  background-color: white;
  color: #81CFE0;
}

a {
  text-decoration: none;
  color: white;
}
