<div ng-controller="budgetController as newVM">
  <h1> {{budgetVM.year}} Budget </h1>
    <input type="text" ng-model="newVM.newBudgetItem.name" placeholder="Name"></input>
    <input type="number" ng-model="newVM.newBudgetItem.amount" placeholder="Amount"></input>
    <input type="radio" name="type" ng-model="newVM.newBudgetItem.type" value="expense"> Expense</input>
    <input type="radio"  name="type" ng-model="newVM.newBudgetItem.type" value="revenue"> Revenue</input>
    <select ng-model="newVM.newBudgetItem.recurring" ng-options="recurring for recurring in newVM.recurring" >
        <option value='' disabled selected>Recurring </option>
    </select>
    <input type="radio" name="expense" ng-model="newVM.newBudgetItem.category" value="fixed"> Fixed</input>
    <input type="radio"  name="expense" ng-model="newVM.newBudgetItem.category" value="variable"> Variable</input>
    <md-button ng-click="newVM.create()">New</md-button>
    <!-- {{newVM.newbudget}} -->


    <md-button ng-click="budgetVM.getRemainingMonths()"> Remaining Months</md-button>
    <md-button ng-click="budgetVM.fullYear()"> Full Year</md-button>

  <table class="finances">
    <tr>
      <th><h2>Revenue</h2></th>
      <th data-ng-repeat="month in budgetVM.months">{{month}}</th>
    </tr>
    <tr data-ng-repeat="budget in budgetVM.budget" ng-if="budget.type === 'revenue'">
      <td class="finances-td">{{budget.name}}</td>
      <td class="finances-td" data-ng-repeat="month in budgetVM.months">{{budget.amount | currency}}</td>
    </tr>
    <tr data-ng-repeat="budget in budgetVM.budget" ng-if="budget.type === 'expense' && budget.category == 'fixed'">
      <td class="finances-td">{{budget.name}}</td>
      <td class="finances-td" data-ng-repeat="month in budgetVM.months">{{budget.amount | currency}}</td>
    </tr>
    <tr>
      <th>Total Fixed Expenses</th>
      <td class="finances-td">{{budgetVM.fixedExpensesTotal | currency }}</td>
    </tr>
    <tr data-ng-repeat="budget in budgetVM.budget" ng-if="budget.type === 'expense' && budget.category == 'variable'">
      <td class="finances-td">{{budget.name}}</td>
      <td class="finances-td" data-ng-repeat="month in budgetVM.months">{{budget.amount | currency}}</td>
    <tr>
      <th>Total Variable Expenses</th>
        <td class="finances-td"> {{budgetVM.variableExpensesTotal | currency}}</td>
    </tr>
    <tr>
      <th>Total Expenses </th>
        <td class="finances-td">{{budgetVM.expensesTotal | currency }}</td>
    </tr>
    <tr>
      <th> Revenue - Expenses </th>
      <td class="finances-td"> {{budgetVM.revenueMinusExpenses | currency }}</td>
    </tr>
  </table>
</div>
