<div class="list-header">
  <div class="left-header">
    <a href="/"><h1 style="color: white; margin-top: -5px; width: 0px;">Docket</h1></a>
  </div>
</div>

<h1> Lists </h1>
<input type="text" ng-model="searchFilter" placeholder="Search..."  style="width: 40%; height:45px;">
<div>
  <table class="table table-striped">
    <thead>
      <tr>
          <th ng-click="sortType = 'list.task_completed' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              Done
              <i ng-show="sortType === 'list.task_completed'" ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.task_name' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              List Item
              <i ng-show="sortType === 'list.task_name'" ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.dateList' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              Date
              <i ng-show="sortType === 'list.dateList' " ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.list_name' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              List Name
              <i ng-show="sortType === 'list.list_name' " ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.list_type' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              List Type
              <i ng-show="sortType === 'list.list_type' " ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.list_reocurring' ; sortReverse = !sortReverse " style="text-align: center">
            <h4>
              Reoccurs
              <i ng-show="sortType === 'list.list_reocurring' " ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
          <th ng-click="sortType = 'list.list_recur_end' ; sortReverse = !sortReverse "  style="text-align: center">
            <h4> Reoccur Ends
              <i ng-show="sortType === 'list.list_recur_end' " ng-class="{ 'fa fa-caret-up': sortReverse, 'fa fa-caret-down': !sortReverse}"/>
            </h4>
          </th>
      </tr>
    </thead>
    
    <tr ng-repeat="list in lists | orderBy:sortType:sortReverse | filter:searchFilter " >
      <td>  <md-checkbox ng-click="update(list)" ng-model="list.task_completed" aria-label="checkbox"></md-checkbox> </td>
      <td> {{ list.task_name }} </td>
      <td> {{ list.dateList }} </td>
      <td> {{ list.list_name }} </td>
      <td> {{ list.list_type }} </td>
      <td> {{ list.list_reocurring }} </td>
      <td> {{ list.list_recur_end }} </td>
    </tr>
  </table>

</div>
