<form style="color: black">
  <ul class="create-new-panel">
    <li style="margin: 10px 0px 0px 0px">
      <md-input-container>
        <input type="text"
               class="create-new-text-input"
               style="border-bottom-color: white; color: white; margin: 0px"
               data-ng-model="name"
               placeholder="Name"/>
      </md-input-container>

      <span ng-if='!data.view && !$parent.firstDay '>
        <md-datepicker date-input type="date" ng-model="$parent.firstDay" md-placeholder=" {{ $parent.firstDay? $parent.firstDay : 'Date' }}"/></md-datepicker>
      </span>

    </li>
    <li style="color: white; outline: 1px solid white; ">
      <h5>Monthly Item or Regular Routine</h5>
      <md-radio-group ng-model="routine"
        style="display: flex; justify-content: space-around; border-color: white">
        <md-radio-button style="padding-left: 2%;border-color: white" value="monthly"> Monthly </md-radio-button>
        <md-radio-button value="weekly-routine">Weekly Routine</md-radio-button>
      </md-radio-group>
    </li>

    <li style="margin-left: -20px;" ng-if='!data.view && $parent.firstDay '>
      <md-datepicker date-input type="date" ng-model="firstDay" /></md-datepicker>
    </li>

    <li style="display: inline-flex; justify-content: space-between; ">
      <!-- start time -->
      <md-input-container ng-hide="data.view && data.date.startTime">
        <label> Start Time </label>
        <md-select  ng-model="startTime"
                    aria-label="select reocurring"
                    style="color:white"
                    ng-change="changeEndTimeArray()">
          <md-option ng-value="time"
                     ng-repeat="time in times"> {{ time }} </md-option>
        </md-select>

      </md-input-container>

      <!-- end time -->
      <md-input-container >
        <label > End Time </label>

        <md-select ng-model="endTime"
                   aria-label="select reocurring">
          <md-option ng-value="time" ng-repeat="time in newTimes"> {{ time }}</md-option>
        </md-select>
      </md-input-container>

    </li>
    <li style="color: white">
      <!-- <md-radio-group ng-model="listType"
        style="display: flex; justify-content: space-between; margin-top: 4%; border-color: white">
        <md-radio-button style="padding-left: 2%;border-color: white" value="todo">Todo List</md-radio-button>
        <md-radio-button value="shopping">Shopping List</md-radio-button>
      </md-radio-group> -->

      <md-input-container >
        <label>  Entry Type </label>
        <md-select  ng-model="listType"
                    aria-label="navigate"
                    style="color:white">
          <md-option value="todo">Todo List </md-option>
          <md-option value="shopping">Shopping List </md-option>
          <md-option value="appointment" > Appointment </md-option>
          <md-option value="tracker" > Tracker </md-option>
        </md-select>
      </md-input-container>

      <md-input-container style="margin: 0px">
        <label >Category</label>

        <md-select ng-model="category" aria-label="select reocurring">
          <md-option ng-value="category" ng-repeat="category in categories"> {{ category }}</option>
        </md-select>
      </md-input-container>

    </li>

    <li ng-if="listType === 'shopping' ">
      <md-input-container style="margin: 0px">
        <input style="border-bottom-color: white; color: white"
               input="number"
               ng-model="newEntry.budget" placeholder="Budget"/>
      </md-input-container>
    </li>

    <li ng-if="listType === 'tracker'">
      <md-input-container style="margin: 0px; width: 100%">
        <input style="border-bottom-color: white; color: white"
               input="text"
               ng-model="newEntry.tracker" placeholder="What do you want to track?"/>
      </md-input-container>
    </li>

    <li ng-show="name" style="display: flex; margin-left: 20%">
      <md-input-container style="">
        <label>Repeat</label>
        <md-select ng-model="repeatInterval" aria-label="select reocurring">
          <md-option ng-value="reoccur" ng-repeat="reoccur in reoccurs"> {{ reoccur }}</option>
        </md-select>
      </md-input-container>

      <div ng-if="repeatInterval === 'Weekly' ">
        <table style="margin-left: -5px">
          <tr>
            <th style="padding: 4px; color: white"> Sun </th>
            <th style="padding: 4px; color: white"> Mon </th>
            <th style="padding: 4px; color: white"> Tues </th>
            <th style="padding: 4px; color: white"> Wed </th>
            <th style="padding: 4px; color: white"> Thurs </th>
            <th style="padding: 4px; color: white"> Fri </th>
            <th style="padding: 4px; color: white"> Sat </th>
          </tr>
          <tr>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.sun" label="Sunday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.mon" label="Monday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.tues" label="Tuesday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.wed" label="Wednesday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.thurs" label="Thursday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.fri" label="Friday"/></td>
            <td><input type="checkbox" ng-model="daysInRepeatWeekly.sat" label="Saturday"/></td>
          </tr>
        </table>
      </div>


    </li>

    <li style="color: white; width: 50%; margin-left: 20%">
      <label>Recur End</label>
      <md-radio-group ng-model="reoccurEnds"
        ng-show=" repeatInterval.length && repeatInterval != 'None' "
        style="display: flex; justify-content: space-between; margin-top: 4%; border-color: white">
          <md-radio-button value="Never">Never</md-radio-button>
          <md-radio-button value="SelectDate">Select Date</md-radio-button>
      </md-radio-group>

      <md-datepicker ng-show="reoccurEnds === 'SelectDate' " md-placeholder="Choose End Date"
        ng-model="reoccurEndsDate">
      </md-datepicker>
    </li>

    <!-- <li ng-show="name">
      <md-input-container style="margin: 0px">
        <label ng-if="!repeatInterval">Category</label>

        <md-select ng-model="category" aria-label="select reocurring">
          <md-option ng-value="category" ng-repeat="category in categories"> {{ category }}</option>
        </md-select>
      </md-input-container>
    </li> -->
    <li>
      <md-button class="md-raised" ng-click="create()" > Add </md-button>
    </li>
  </ul>
</form>
