<form style="color: black">
  <ul class="create-new-panel">
    <li style="margin-left: 0%">
      <md-input-container style="margin: 15px 0px 0px 0px">
        <input type="text"
               style="border-bottom-color: white; color: white"
               data-ng-model="name"
               placeholder="Name"/>
      </md-input-container>
    </li>
    <li style="color: white; outline: 1px solid white; margin-bottom: 10px;">
      <h5 style="padding: 8px">Monthly Item or Regular Routine</h5>
      <md-radio-group ng-model="routine"
        style="display: flex; justify-content: space-between; margin-top: 4%; border-color: white">
        <md-radio-button style="padding-left: 2%;border-color: white" value="monthly"> Monthly </md-radio-button>
        <md-radio-button value="weekly-routine">Weekly Routine</md-radio-button>
      </md-radio-group>
    </li>
    <li style="margin-left: -20px;" ng-if='!data.view'>
      <md-datepicker date-input type="date" ng-model="$parent.firstDay" md-placeholder="Date"/></md-datepicker>
    </li>
    <li style="display: inline-flex; justify-content: space-between; ">
      <!-- start time -->
      <md-input-container ng-hide="data.view && data.date.startTime">
        <label ng-if="!startTime"> Start Time </label>
        <md-select  ng-model="startTime"
                    aria-label="select reocurring"
                    style="color:white"
                    ng-change="changeEndTimeArray()">
          <md-option ng-value="time"
                     ng-repeat="time in times"> {{ time }} </md-option>
        </md-select>

      </md-input-container>

      <!-- end time -->
      <md-input-container >
        <label ng-if="!endTime"> End Time </label>

        <md-select ng-model="endTime"
                   aria-label="select reocurring">
          <md-option ng-value="time" ng-repeat="time in newTimes"> {{ time }}</md-option>
        </md-select>
      </md-input-container>

    </li>
    <li style="color: white">
      <md-radio-group ng-model="listType"
        style="display: flex; justify-content: space-between; margin-top: 4%; border-color: white">
        <md-radio-button style="padding-left: 2%;border-color: white" value="todo">Todo List</md-radio-button>
        <md-radio-button value="shopping">Shopping List</md-radio-button>
      </md-radio-group>
    </li>

    <li ng-if="listType === 'shopping' ">
      <md-input-container style="margin: 0px">
        <input style="border-bottom-color: white; color: white"
               input="number"
               ng-model="newEntry.budget" placeholder="Budget"/>
      </md-input-container>
    </li>

    <li ng-show="name">
      <md-input-container style="">
        <label ng-if="!repeatInterval">Repeat</label>
        <md-select ng-model="repeatInterval" aria-label="select reocurring">
          <md-option ng-value="reoccur" ng-repeat="reoccur in reoccurs"> {{ reoccur }}</option>
        </md-select>
      </md-input-container>

      ++ {{ repeatInterval }}
      <div ng-if="repeatInterval === 'Weekly' ">
        <input type="checkbox" label="Monday"/> 
      </div>

      <md-radio-group ng-model="reoccurEnds"
        ng-show=" repeatInterval.length && repeatInterval != 'None' "
        style="display: flex; justify-content: space-between; margin-top: 4%; color: white; border-color: white">
          <md-radio-button value="Never">Never</md-radio-button>
          <md-radio-button value="SelectDate">Select Date</md-radio-button>
      </md-radio-group>

      <md-datepicker ng-show="reoccurEnds === 'SelectDate' " md-placeholder="Choose End Date"

        ng-model="reoccurEndsDate">
      </md-datepicker>
    </li>
    <li ng-show="name">
      <md-input-container style="margin: 0px">
        <label ng-if="!repeatInterval">Category</label>

        <md-select ng-model="category" aria-label="select reocurring">
          <md-option ng-value="category" ng-repeat="category in categories"> {{ category }}</option>
        </md-select>
      </md-input-container>
    </li>
    <li>
      <md-button class="md-raised" ng-click="create()" > Add </md-button>
    </li>
  </ul>
</form>
