<h1> Cal Entries </h1>

<div style="outline: 1px solid black; width: 60%; margin-left: 20%" ng-repeat="list in todos">{{ list.list_name }}

  <div ng-repeat="dateList in list.lists"> {{ dateList.name }} - {{ dateList.niceDate }}
    <span ng-if="dateList.tracker.tracking"> {{ dateList.tracker.tracking }} - {{ dateList.tracker.quantity }}  </span>
  </div>
  <div style="display: flex; margin-left: 25%; margin-bottom: 5%" ng-click="list.addNew = true"> +
    <div ng-if="list.addNew" style="display: flex">

        <input type="text"
               ng-model="list.newEntry.name"
               placeholder="Name"/>
        <md-datepicker ng-model="list.newEntry.date" md-placeholder="Date"
                       type="date" md-current-view="year" md-min-date="minDate" md-max-date="minDate"></md-datepicker>
        <md-button ng-click="addNew(list)"> Add </md-button>
    </div>
  </div>

</div>
